<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icon -->
    <link rel="shortcut icon" href="images/logo.png">
    <!-- Descrip -->
    <meta name="description" content=" program for creatives">
    <!-- file style -->
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/bootstrap-grid.rtl.cssa">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- file normalize -->
    <link rel="stylesheet" href="css/normalize.css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="css/all.min.css">
    <!-- Title -->
    <title>W.F.T.C.D</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light list ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand logo" href="#">
            <img src="images/logo.png" alt="">
        </a>
        <div class="collapse navbar-collapse trans" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 style-list">
                <li class="nav-item active">
                    <a class="nav-link" href="../home/index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../about/index.html">about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../pricing/index.html">pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../contacts/index.html">contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html">components</a>
                </li>
            </ul>
                <button class="btn -success my-2 my-sm-0" type="submit">download</button>
        </div>
    </nav>
<!-- end -->
<!-- style for text  -->
<div class="text">
    <h2>text</h2>
    <p>
        Lorem, ipsum dolor sit <b>amet consectetur adipisicing elit</b>  <br>
        . Rem porro veritatis 
        deserunt hic magni molestias saepe est voluptatem officia <br>
        ab, id repellendus illo enim  
        Lorem, ipsum dolor sit amet consectetur adipisicing elit <br>
        . Rem porro veritatis atque 
        deserunt hic magni molestias saepe est voluptatem officia <br>
        ab, id repellendus illo enim 
        Lorem, ipsum dolor sit amet consectetur adipisicing elit <br>
        . Rem porro veritatis atque <span> deleniti esse ipsam quibusdam </span><br>
        deserunt hic magni molesti 
        ab, id repellendus illo enim similique? voluptatem officia <br>
    </p>
    <q>Lorem ipsum dolor sit amet consectetur <br> adipisicing elit. Atque maiores labore <br></q>
</div>
<div class="head">
    <span>headings</span>
        <h1>H1:Headings 1</h1> 
        <h2>H2:Headings 2</h2> 
        <h3>H3:Headings 3</h3> 
        <h4>H4:Headings 4</h4>
</div>
<!-- end -->
<!-- style for list -->
<section id="menu">
    <div class="list">
        <h3>list</h3>
        <span>ordered</span>
        <ul>
            <li>sit amet,consecteture adipiscing</li>
            <li>sit amet,consecteture adipiscing</li>
            <li>sit amet,consecteture adipiscing</li>
            <li>sit amet,consecteture adipiscing</li>
        </ul>
    </div>
    <div class="number">
        <span>number</span>
        <ol>
            <li>sit amet,consecteture adipiscing</li>
            <li>sit amet,consecteture adipiscing</li>
            <li>sit amet,consecteture adipiscing</li>
            <li>sit amet,consecteture adipiscing</li>
        </ol>
    </div>
</section>
<!-- end -->
<!-- style for the part two -->
<section class="icons">
    <h3>icons</h3>
    <div class="icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin-in"></i>
        <i class="fab fa-instagram"></i>
    </div>  
</section>
<section class="buttons">
    <h3>buttons</h3> 
    <div class="primary">
        <button>primary large</button>
        <button class="primary-btn">primary</button>
        <button class="primary-small">primary small</button>
    </div>
</section>
    <section class="btu-sec">
        <h3>secondary</h3> 
        <div class="secondary">
            <button class="sec-lar">secondary large</button>
            <button class="secondary-btn">secondary</button>
            <button class="secondary-small">secondary  small</button>
        </div>
    </section>
    <section class="defa-btu">
        <h3>defauil</h3>
        <div class="defauil">
            <button class="de-lar">defauil large</button>
            <button class="defauil-btn">defauil</button>
            <button class="defauil-small">defauil  small</button>
        </div>
    </section>
    <!-- end -->
    <!-- style foe form -->
    <form>
        <h4>inputs</h4>
        <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">  
        </div>
        <div class="form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">Email me a copy</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">I am a human</label>
                </div>
                <textarea name="gender" id="your-message" cols="50" rows="5" placeholder="Enter your message"></textarea>
                <button type="button" class="btn btn-primary  btn-block sent ">Your message was successfullu sent</button>
                <button type="button" class="btn btn-secondary  btn-block message">Your message has not been sent, restart</button>
    </form>
<div class="line"></div>
<!-- style for footer -->
    <footer id="who-are">
        <div class="about">
            <span>About us</span>
            <p>
                Lorem ipsum dolor sit amet,consecteture adipiscing <br>
                elit. Nunc sit amet conecteture dolor
            </p>
        </div>
        <div class="share">
            <h5>Do you like ? Share thid!</h5>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin-in"></i>
            <p> 
                &copy; Untiled | Website create with Mashup <br>
                Template/ unsplash
            </p>
        </div>
        <div class="sub">
            <h5>Subscribe to newletter</h5>
            <div class="input-group mb-3 sub-new">
                <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary button-ok" type="button" id="button-addon2">Ok</button>
                </div>
            </div>
        </div>
    </footer>
    <!-- scripr files -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
    </body>
    </html>
